@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
section
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  margin: auto;
  min-width: 320px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;

  
 
}
.header-img {         /*LOGO */
margin: auto;

}
.header{
  width: 380px;
  height:200px;
  background-image: url('../img/bg2.jpg');
  background-size: 100% 200%;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
  position: relative;
}

header
{
position: absolute;
margin: auto;
padding: 30px 100px;
width: 100%;

  
 
  align-items: center;
  z-index: 1000;
}

header ul
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li
{
  list-style: none;
  /* margin-right: 20px; */
}
header ul li a
{
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
  font-size: 1.5em;
}
header ul li a.active,
header ul li a:hover
{
  background: #fff;
  color: #2b1055;
}
section:before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#000000,transparent);
  z-index: 1000;
}
section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
section img#moon 
{
  mix-blend-mode: screen;
}
section img#mountains_front
{
  z-index: 10;
}

.acomodo-titulo{
  text-align: center;
  position: absolute;
  color: #fff;
  white-space: nowrap;
  font-size: 10vw;
  transform: translateY(0px);
}


.explore{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

#btn
{
  text-align: center;
  text-decoration: none;
  padding: 12px 40px;
  border-radius: 40px;
  background: rgb(0, 0, 0);
  color: #ffffff;
  transform: translateY(100px);
  font-size: 1.5em;
  z-index: 9;
}

.sec
{
  text-align: center;
  position: relative;
  height: auto;
  padding: 100px;
  
  background: #000000;
}
.sec h2
{
  margin-bottom: 40px;
  font-size: 3.5em;
  color: #fff;
}
.sec p
{
  margin:auto;
  width: 75%;
  font-size: 1.2em;
  color: #fff;
}



/* IMAGENES */


.container-a
{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top:0%;
  
}
.container-a .card
{
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
}
.container-a .card .imgBx,
.container-a .card .contentBx
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .card .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-a .card .contentBx::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  #8fc2df;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.container-a .card:hover .contentBx::before
{
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}
.container-a .card .contentBx
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-a .card .contentBx .content
{
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.container-a .card:hover .contentBx .content
{
  transform: translateX(0px);
  transition-delay: 0.5s;
}
.container-a .card .contentBx .content h3
{
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container-a .card .contentBx .content p
{
  font-size: 1em;
  line-height: 1.4em;
  font-weight: 300;
  color: #000000;
}

/* FOOTER */

footer
{
  display: flex;
	justify-content: flex-end;
	align-items: center;
	/* min-height: 100vh; */
	flex-direction: column;
	background: #000000;

}

.acomodo-footer
{
	position: relative;
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

footer .container-footer
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
.sec-footer
{
	margin-right: 30px;
}
.sec-footer.aboutus
{
	width: 40%;
}
.sec-footer h2
{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
.sec-footer h2:before
{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #118ec5;
}
.sec-footer p
{
	color: #999;
}
.sci
{
	margin-top: 20px;
	display: flex;
}
.sci li
{
	list-style: none;
}
.sci li a
{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
.sci li a:hover
{
	background: #118ec5;
}
.sci li a .fa
{
	color: #fff;
	font-size: 20px;
}
.sec-footer.quicklinks
{
	position: relative;
	width: 25%;
}
.sec-footer.quicklinks ul li
{
	list-style: none;
}
.sec-footer.quicklinks ul li a
{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.sec-footer.quicklinks ul li a:hover
{
	color: #fff;
}
.sec-footer.contact
{
	width: calc(35% - 60px);
	margin-right: 0;
}
.sec-footer.contact .info
{
	position: relative;
}
.sec-footer.contact .info li
{
	display: flex;
	margin-bottom: 16px;
}
.sec-footer.contact .info li span:nth-child(1)
{
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.sec-footer.contact .info li a
{
	color: #999;
	text-decoration: none;
}
.sec-footer.contact .info li a:hover
{
	color: #fff;
}


.copyrightText
{
	width: 100%;
	background: #118ec5;
	padding: 8px 100px;
	text-align: center;
	color: rgb(255, 255, 255);
}

@media (max-width: 991px)
{
	.sec-footer.aboutus,
	.sec-footer.quicklinks,
	.sec-footer.contact
	{
		width: 100%;
		margin-bottom: 40px;
	}
	.sec-footer.contact
	{
		margin-bottom: 0px;
	}
	footer
	{
		padding: 40px;
	}
	.copyrightText
	{
		padding: 5px 40px;
	}
}