<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika&display=swap" rel="stylesheet">}

    {% block title %}



    {% endblock %}

    
    {% block styles %}



    {% endblock %}


    
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Bichotas - Proyecto</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li style="margin-left: 10px;"><a href="#">Herramientas</a></li>
            <li style="margin-left: 10px;"><a href="#">ChatBot</a></li>
            <li style="margin-left: 10px;"><a href="#">Descripción</a></li>
          </ul>


          <div style="margin-left: 86%; ">
            <div style="display: flex; margin-top: 10px; margin-bottom: 10px;">
              <button style="border: none; border-radius: 11px; width: 150px; height: 34px; background: #c4c4c4;">Sign Up</button>
              <button style="border: none; border-radius: 11px; width: 150px; height: 34px; background: #c4c4c4; opacity: 0.6; margin-left: 20px;">Sign In</button>
              <!--<li><button style="border: none; border-radius: 11px; width: 150px; height: 34px; background: #c4c4c4;">Sign In</button></li>-->
            </div>
          </div>
        </div>
      </nav>


    {% block body %}





    {% endblock %}
    <footer>
      <div style="display: block; margin-top: 26.3%;">
        <div style="width: 100%; height: 70px; background: #629289;"></div>
      </div>
    </footer>
</body>
</html>