{% extends "layout.html" %}

{% block title %}

<title>Profile - BichotaS</title>

{% endblock %}

<!-- Bloque de estilos -->
{% block styles %}

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Signika;
    }

    body{
       background-color: #f2f2f2;
        
    }
    .contenedor{
        display: inline-block;
        
    }
    .imagen{
        position: relative;
        border-radius: 50%;
        width: 50%;
        height: 50%;
        margin-left: 10%;
    }
    .contenedor-textos{
        display: inline-block;
        margin-left: 5%;
        margin-bottom: 20%;
    }
    .nombre-usuario{
        font-family: Signika;
        position: absolute;
        display: inline-block;
    }

    .correo-usuario{
        font-family: Signika;
        position: absolute;
        display: inline-block;
        margin-top: 5%;
    }

    .contenedor-herramientas{
        width: 400px;
        height: 100px;
        background-color: #c4c4c4;
        display: block;
        margin-left: 100%;
        border-radius: 15px;
        margin-top: 5%;
    }
    
    .texto-herramientas{
        font-family: Signika;
        top: 100%;
        left: 100%;
        text-align: center;
    }
</style>

{% endblock %}

<!-- Bloque para el body -->
{% block body %}

<div class="contenedor">
    <img class="imagen" src="{{ url_for('static', filename='profile_ex.jpg') }}" alt="">
    <div class="contenedor-textos">
        <div class="nombre-usuario">
            <h1>Martin Carlos</h1>
        </div>
        <div class="correo-usuario">
            <h2>martin.carlos@gmail.com</h2>
        </div>
    </div>
    <div class="contenedor-herramientas">
        <div class="texto-herramientas">
            Herramientas Favoritas  
        </div>
    </div>
</div>


{% endblock %}
