<style>
    body{
        position: relative;
        background-color: #C4C4C4;
    }

    .form-register{
        background-color: #F2F2F2;
        border-radius: 16px;
        position: absolute;
        width: 423px;
        height: 413px;
        margin-top: 300px;
        margin-left: 982px;
	    

    }

    button{
        position: absolute;
        width: 271px;
        height: 67px;
        left: 1075px;
        top: 761px;

        background: #53E96B;
        box-shadow: 0px 6px 4px #438A4F;
        border-radius: 18px;
        color: white;
    }



</style>
<body>
    <div class="form-register"></div>
    <div><button>Register</button></div>
</body>
