{% extends "layout.html" %}

{% block styles %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Signika;
    }

    body{
        background: #c4c4c4;
        
    }

    .contenedor{
        
        background-color: #F2F2F2;
        width: 390px;
        height: 380px;
        border-radius: 16px;
        display: block;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .campo{
        color: black;
        opacity: inherit;
        position: relative;
        font-family: signika;
        
    }

    input{
        outline: none;
        border: none;
        background-color: #F2F2F2;
        font-size: 19px;
        border-radius: 16px;
        margin-top: 20px;
        width: 200px;
        height: 40px;
        text-align: center;
        display: inline-block;
        margin-bottom: 50px;
    }
    
    #uno{
        align-items: center;
    }
   

    span{
        position: relative;
        left: 25%;
        
        top: 30%;
    }

    .dou{
        margin-left: 10%;
        width: 80%;
        height: 0px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: -30px;
    }


    .separacion{
        margin-top: 100px;
        margin-bottom: 150px;
    }

    .uwu{
        color: white;
        background-color: #53E96B;
        font-size: 17px;
        width: 170px;
        height: 75px;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 6px 4px #438A4F;
    }

    .contenedor-boton{
        display: block;
        margin-top: 25%;
        margin-left: 27%;
    }    

    .pd{
        display: block;
        margin-left: 12%;
        margin-top: 5%;
    }   
</style>
{% endblock %}

{% block body %}

<div class="separacion"></div>
<div class="contenedor">
    <div class="campo"><form action="">
        
        <span><input type="text" name="username" placeholder="Username" ></span><br>
        
        <div class="dou"></div>
        <span><input type="text" name="email" id="email" placeholder="Email"></span><br>
        
        <div class="dou"></div>
        <span><input type="password" name="password" id="password" placeholder="Contraseña"></span><br>
        
        <div class="dou"></div>
        <span><input type="password" name="conpassword" id="conpassword" placeholder="Confirmar Contraseña"></span><br>
        <div class="dou"></div>
        </form>

        <div class="contenedor-boton">
            <button class="uwu">Crear Cuenta</button>
            <div class="pd"><p>¿Ya tienes cuenta?</p></div>
        </div>

    
</div>


{% endblock %}