<div style="display: inherit; bottom: 30px; position: relative; margin-bottom: -20px;">
    <div style="display: inline-flex; margin-left: 75%;">
      <ul style="margin-right: 5px; list-style: none; margin">
        <li><button style="border-radius: 11px; width: 150px; height: 34px; background: #C4C4C4; border: none;"> Sign up </button></li>
        
      </ul>
    </div>
    <div style="display: inline-flex; ">
      <ul style="margin-left: 5px; list-style: none;">
        <li><button style="border-radius: 11px; width: 150px; height: 34px; background: #C4C4C4; opacity: 0.6; border: none;"> Sign in </button></li>
      </ul>
    </div>
  </div>
</div>
</nav>



{% block styles %}

{% endblock %}