{% extends "layout.html" %}



{% block title %}

<title>Blank - BichotaS</title>

{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-3.css') }}">
{% endblock %}



{% block styles %}


{% endblock %} 

{% block body %}
<div class="container" style="position: relative !important;">
    <img src="{{ url_for('static', filename='profile_pics/hinata.jpg') }}" alt="a" style="position: absolute; top: 20%; left: 40%;  margin: -25px 0 0 -25px;">
</div>
{% endblock %}