{% extends "layout-2.html" %}


{% block title %}

<title>Login - SkyTools</title>

{% endblock %}
{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-2.css') }}">
{% endblock %}

{% block styles %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Signika;
    }

    body{
        background: linear-gradient(#001f32,#010029);
        width: 100%;
        
    }

    .contenedor{
        
        background-color: #f2f2f2;
        width: 420px;;
        height: 250px;
        border-radius: 16px;
        display: block;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }

    .campo{
        color: black;
        opacity: inherit;
        position: relative;
        font-family: signika;
        
    }

    input{
        outline: none;
        border: none;
        background-color: #F2F2F2;
        font-size: 19px;
        border-radius: 16px;
        margin-top: 20px;
        width: 200px;
        height: 40px;
        text-align: center;
        display: inline-block;
        margin-bottom: 50px;
        
    }
    
    #uno{
        align-items: center;
    }
   

    .dou{
        margin-left: 10%;
        width: 80%;
        height: 0px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: -20px;
        margin-bottom: 10px;
    }


    .separacion{
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .uwu{
        color: white;
        background-color: #53E96B;
        font-size: 17px;
        width: 170px;
        height: 80px;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 6px 4px #438A4F;
    }

    .contenedor-boton{
        display: block;
        margin-top: 25%;
        margin-left: 30%;
    }    

    .pd{
        display: block;
        margin-left: 12%;
        margin-top: 5%;
    }

    .uwu:hover{
        background-color: #38c44f;
        box-shadow: 0px 6px 4px #296333;
    }

    .corte{
        margin-top: -100px;
    }

</style>
{% endblock %}

{% block body %}
<!--
<div class="separacion"></div>
<div class="contenedor">
    <div class="campo"><form action="">
        
        <span><input type="text" name="username" placeholder="Username" ></span><br>
        
        <div class="dou"></div>
        <span><input type="text" name="email" id="email" placeholder="Email"></span><br>
        
        <div class="dou"></div>
        
        </form>

        <div class="contenedor-boton">
            <button class="uwu">Inicia Sesión</button>
            <div class="pd"><p>No tienes cuenta <br>Crea una<a href="#"> aqui</a></p></div>
            
        </div>
    </div> 
</div>
-->

<div class="separacion"></div>
<div class="contenedor">
    <div class="campo">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="fom-group" style="width: 80%; margin-left: 10%; margin-top: 55px;">
                    <div>
                    {{ form.email(class="form-control form-control-lg", style="text-align: center; border-radius: 11px", placeholder="Email") }}
                    </div>
                </div>
                <div class="dou"></div>
                <div class="fom-group" style="width: 80%; margin-left: 10%; margin-top: 30px;">
                    <div>
                        {{ form.password(class="form-control form-control-lg", style="text-align: center;  border-radius: 11px", placeholder="Password") }}
                    </div>
                </div>
        </fieldset>        
        <div class="corte">
            <div class="contenedor-boton">
                {{ form.submit(class="uwu") }}         
            </div>
            <div style="text-align: center; ">
                <small class="text-muted ml-2" style="color: rgba(255, 255, 255, 0.877) !important;">
                    Forgot passowrd?<a href="#">   Click Here</a>
                </small>
            </div>
            <div style="text-align: center;">
                <small class="text-muted" style="color: rgba(255, 255, 255, 0.877) !important;">
                Dont you have an account, yet? Sign Up<a class="ml-2" href="{{ url_for('register') }}">Here</a>
                </small>
            </div>
        </div>
        </form>
    </div> 
</div>


{% endblock %}