{% extends "layout.html" %}

{% block title %}

<title>Profile - BichotaS</title>

{% endblock %}

<!-- Bloque de estilos -->
{% block styles %}

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Signika;
    }

    body{
       background-color: #f2f2f2;
        
    }

    .contenedor-header{
        position: absolute;
        width: 100%;
        height: 35%;
        display: block;

    }

    .cont-imagen{
        height: 80%;
        width: 20%;
        margin-top: 1.75%;
        margin-left: 7%;
        border-radius: 16px;
    }

    .cont-text{
        height: 60%;
        width: 40%;
        color: white;
        display:inline-block;
        margin-left: 60%;
        margin-bottom: 50%;
    }

    .bpx{position: absolute;}
</style>

{% endblock %}

<!-- Bloque para el body -->
{% block body %}
<div class="container" style="margin-left: -0.97%;">
    <div class="contenedor-header">
        <div class="cont-imagen">
            <img class="container" style="border-radius: 50%;" src="{{ url_for('static', filename='profile_ex.jpg') }}" alt="">
        </div>

    </div>
</div>
{% endblock %}
