{% extends "layout.html" %}

{% block title %}

<title>Profile - BichotaS</title>

{% endblock %}


{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-3.css') }}">
{% endblock %}

<!-- Bloque de estilos -->
{% block styles %}

<style>
    h1, h2, h3, h4, h5, h6 {
    color: #141212;
  }

  .separacion{
        margin-top: 100px;
  }

  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: transparent;
    padding: 100px 20px;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: -20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 20%;
    width: 20%;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 65px;
  }

  .spe{
       margin-left: 7%;

  }

  .ba-nom{
      margin-left: 2.5%;
      margin-top: -3%;
  }

  .boton-unu{
    background-color: #c4c4c4;
    color: white;
    border-radius: 16px;
    border: none;
    width: 190px;
    height: 60px;
  }

  .boton-unu:hover{
    color: black;
    box-shadow: 0px 6px 4px #5a5c5a;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
  } 

  .coloca{
      display: block;
      margin-left: 40%;
      margin-top: -10%;
  }
  .cuadrito{
      width: 500px;
      height: 100px;
      border-radius: 20px;
      background-color: #c4c4c4;
      text-align: center;
      box-shadow: 0px 6px 4px #9da09d;
      align-items: center;
  }

  .cuadrito-herramienta{
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 20px;
      background-color: #c4c4c4;
      text-align: center;
      box-shadow: 0px 6px 4px #9da09d;

  }
  
  
  .contenedor{
        
        background-color: #000000;
        width: 100%;
        height: 25rem;
        display: flex;
        margin-top: auto;  

    }

    .contenedor-2{
        
        background-color: #f8f1f1;
        width: 25%;
        height: 150px;
        display: inline-flex;
        border-radius: 16px;
        margin-top: 16%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;

    
    }
    .titan{
        text-align: center;
        font-size: 200%;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    .campo{
        color: black;
        opacity: inherit;
        position: relative;
        font-family: signika;
        
    }

    
    #uno{
        align-items: center;
    }
   

    .dou{
        margin-left: 10%;
        width: 80%;
        height: 0px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        margin-top: -20px;
        margin-bottom: 10px;
    }


    .separacion{
        margin-top: 100px;
    }

    .uwu{
        color: white;
        background-color: #53E96B;
        font-size: 17px;
        width: 170px;
        height: 80px;
        border: none;
        border-radius: 16px;
        box-shadow: 0px 6px 4px #438A4F;
    }

    .contenedor-boton{
        display: block;
        margin-top: 25%;
        margin-left: 30%;
    }    

    .pd{
        display: block;
        margin-left: 12%;
        margin-top: 5%;
    }

    .uwu:hover{
        background-color: #38c44f;
        box-shadow: 0px 6px 4px #296333;
    }

    .corte{
        margin-top: -100px;
    }
    
    .cuadrate{
        background-color: rgb(252, 252, 253); 
        height: 120px;
        width: 250px;
        position: relative;
        display: inline-block;
        margin-top: 2%;
        margin-left: 5%;
        margin-right: 1.5%;
        margin-bottom: 2%;
        border-radius: 20px;

    }

    .texto{
        text-align: center;
        display: block;
        font-size: xx-large;
        font-family: Signika;
        margin-top: 16%;

    }

    .cuadrate:hover{
        background-color: rgba(252, 252, 253, 0.836);
        /* box-shadow: 0px 6px 4px #14e937; */
        
    }

    .recta{
      background-color: white;
      width: 400px;
      height: 100px;
      margin-top: -10%;
      margin-left: 40%;
      border-radius: 16px;
      text-align: center;
      justify-content: center;
      font-size: 30px;
    }

    .separacion-vertical{
        margin-left: 500px;
    }

    .a{
        width: 250px;
        height: 250px;
        border-radius: 16px;

    }
    .ba{
        width: 280px;
        height: 250px;
        background-color: white;
        
        border-radius: 16px;
    }
    .spea{
       margin-left: 7%;
       margin-top: -2%;
    }

    .asd{
        background-image: url(/aplicacion/static/image_tools/canva.png);
    }
</style>

{% endblock %}

<!-- Bloque para el body -->
{% block body %}
  <div class="separacion"></div>

    <u>
              <div class="btn-group cuadrate">
                
                  <button class="asd btn btn-secondary cuadrate btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{{ url_for('static', filename='image_tools/draw_io.png') }}" alt="">
                  </button>
                  <div class="dropdown-menu" style="width: 230px; margin-top: 25px; border-radius: 20px; margin-left: 12px;">
                  <a href="#"><button class="dropdown-item" type="button" style="text-align: center;">Ir</button></a>
                  <button class="dropdown-item" type="button" style="text-align: center;">Checar Descripcion</button>
                  </div>
              </div>
    </ul>
    </div>


{% endblock %}
